<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.LaboratorioNo6">

        <!-- SplashActivity será la pantalla principal al iniciar la app -->
        <activity
            android:name=".ui.theme.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.LaboratorioNo6">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity mostrará las recetas después de la SplashScreen -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.LaboratorioNo6" />
    </application>
</manifest>
